/* purgecss start ignore */
@tailwind  base;
/* purgecss end ignore */

/* purgecss start ignore */
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;




/* purgecss start ignore */
::selection {
  background-color: #000;
  color: #fff;
}
body {
  @apply text-gray-800;
}

.nav-styles {
  @apply transition;
  @apply duration-150;
  @apply ease-in-out;
  @apply text-gray-800;
  @apply bg-white;
  @apply text-white;
  @apply z-30;
  @apply py-6;
  @apply transform;
  @apply w-full;
  @apply hide-nav;
  @apply fixed;
  @apply shadow;
}
.rorschach {
  font-size: 10px;
  opacity: .2;
  color: #fff;
  text-align: justify;
  background: #fff url("../../../assets/rorschach.gif") center 40px no-repeat;
  background-size: auto 80.66664%;
  mix-blend-mode: multiply;
}
.hide-nav {
  @apply duration-0;
  transform: translateY(-100%);
}
.opacity-10 {
  opacity: 10%;
}

.show-nav {
  transform: translateY(0);
}

.polymorph-shadow {
  box-shadow: -14px -2px 24px rgba(255, 255, 255, 0.75), 12px 12px 12px rgba(170, 170, 170, 0.25);
}

.spin .logo{
  animation: spin 200ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* purgecss end ignore */